div.footer-top{
  -webkit-font-smoothing: antialiased;
  text-align: center;
  color: #ccc;
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
  font-family: Programme,sans-serif;
  line-height: 1.65;
  position: relative;
  background-color: black;
}

div.footer-top a{
  color: #ffff64;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
}

div.footer-top a:hover{
  color: #99a7ee;
}