header {
  top: 0;
  width: 100%;
  position: relative;
}

header .h-top {
  background: #FFFF64;
  height: 41px;
  position: relative;
  width: 100%;
}

header .h-top nav{ 
  display: flex;
  align-items: center;
  height: 41px;
  position: relative;
}

.h-top2{
  display: flex;
  justify-content: flex-end;
}

header .h-top nav a.header-top{
  background: #FFFF64;
  cursor: pointer;
  font-family: Programme,sans-serif;
  color: black;
  text-decoration: none;
  height: 41px;
  font-size: 12px;
  padding: 14px;
  box-sizing: border-box;
  border-style: solid;
  border-right-style: none;
  border-left-style: none;
  border-top-style: none;
}

header .h-top nav a.logo-link{
  padding: 0px;
}

header .h-top nav a:hover{
  border-width: 6px;
  border-bottom-color: #FF1264;
}

div.session-links-container a{
  padding: 0px;
}

header .h-top nav h1{
  display: inline;
  color: black;
  margin: 0px;
  padding-top: 7px;
  transform: translate(-65px, 0px);
  margin-right: 164px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100vw;
}

.session-links-container{
  display: flex;
  justify-content: flex-end;
  min-width: 150px;
}

form.search{
  margin: 0px;
  padding: 0px;
  height: 0px;
}

form.search input{
  margin: 0px;
  padding: 15px;
  width: 100%;
  height: 2px;
  width: 100%;
  background: white;
  border: none;
  margin: 5px;
  font-size: 14px;
  font-weight: 700;
  margin-left: 20px;
}

header img.logo{
  position: absolute;
  transform: translate(-99px, 0px);
}

.h-top2 nav{
  flex-direction: column;
}

.header-container-bottom{
  min-height: 38px;
  min-width: 100vw;
  z-index: 1;
}

.header-container-bottom div{
  min-height: 38px;
  min-width: 100vw;
  background-color: black;
  display: flex;
  align-items: center;
  vertical-align: center;
  color: white;
  justify-content: space-around;
}

header .h-top nav a.header-bottom{
  background: black;
  cursor: pointer;
  font-family: Programme,sans-serif;
  color: white;
  text-decoration: none;
  height: 38px;
  font-size: 14px;
  font-weight: 400;
  padding: 0px;
}

header .h-top nav a.header-bottom:hover{
  color: #FFFF64;
}

header .h-top nav a.invisible{
  opacity: 0;
}
