div.auth-parent{
  background-color: black;
  min-height: 100vh;
}

form {
    /* border-radius: 2px; */
    /* -webkit-box-sizing: border-box; */
    /* box-sizing: border-box; */
    background-color: rgba(153, 153, 153, 0.09);
    padding: 10px;
    margin: 0px auto;
    margin-top: 10px;
    max-width: 260px;
    font-family: Space Mono,sans-serif;
    border-style: solid;
    border-top: none;
    border-bottom: none;
    border-left-color: white;
    border-right-color: white;
    color: #ede8e9;
    

}
form.padding-active{
  padding: 0px;
}
form input {
    width: 255px;
    height: 20px;
    margin-bottom: 7px;
  
}

form label {
  font-style: bold;
}

form:hover{
  border-right-color: rgb(71, 26, 246); 

}

div h1.one{
  text-align: center;
  // margin-bottom: 0px;
  font-family: Space Mono,sans-serif;
  color: #ffffff;

  font-size: 40px;
  // font-family: 'Ropa Sans', sans-serif;
  // color: #fff;
  font-weight: 700;
  line-height: 100%;
  padding-top: 1px;
  margin-bottom: 10px;
}

div h1.two{
  text-align: center;
  // margin-bottom: 0px;
  font-family: Space Mono,sans-serif;
  color: #FFFF64;

  font-size: 40px;
  // font-family: 'Ropa Sans', sans-serif;
  // color: #fff;
  font-weight: 700;
  line-height: 100%;
  padding-top: 1px;
  margin-bottom: 10px;
}

div.errors{
  font-family: Space Mono,sans-serif;
  transform: translate(0px, -07px);  
  text-align: center;
  font-size: small;
  color: #ede8e9;
}

div.errors ul{
  list-style-type: none;
  
}


form div.button{
  display: flex;
  justify-content: space-between;
}

form div.button button{
  width: 180px;
  height: 28px;
  color: #ede8e9;
}

div.toggle-button{
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
div.toggle-button div{
  max-width: 370px;
  width: 100%;
}


div.toggle-button button{
    color: #ede8e9;
    font-size: 16px;
    max-width: 370px;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    border-radius: 2px;
    font: normal 15px/1.2rem Programme,sans-serif;
    display: block;
    padding: 7px 12px 5px 16px;
    margin: 0 auto 20px;
    text-align: center;
    cursor: pointer;
    background-color: #444;
    border: 1px solid #444;
}

button.button-signup div{
    display: flex;
    justify-content: center;
}

button.button-signup.fb{
    background-color: rgb(95, 126, 193)
}

button.button-signup.twitter{
    background-color: rgb(43, 170, 225)
}

button.button-signup.google{
    background-color: rgb(232, 133, 122)
}


.material-icons{
  margin-right: 7px;
  font-size: 21px;
}




