#charts{
  margin-top: 38px;
  min-height: 63vw;
  display: block;
  justify-content: center;
}

#charts h1{
  padding-top: 38px;
  font-family: Programme, sans-serif;
  font-size: 80px;
  margin-bottom: 70px;
}

#charts li{
  border-bottom: 0.15rem solid rgb(233, 233, 233);
  &:hover{
    // border-style: none;
    background-color: rgb(223, 223, 223);
    transition: background-color 0.1s ease 0s;
  }
}

#charts-inner-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#charts-lower-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.charts-item{
  display: flex;
  width: 1167px;
  height: 80px;
  padding-left: 11px;
  padding-right: 11px;
  img{
    width: 61px;
  }
}

#charts a{
  color: black;
  text-decoration: none;
}

#charts div.rank{
    width: 69px;
    margin-right: 42px;
    display: flex;
    flex-direction: column;
    align-self: center;
    font-size: 24px;
    font-family: Programme, sans-serif;
}

#charts div #artist-name{
  div{
    margin-left: 87px;
  }
}

#charts div.thumbnail{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#charts div.charts-item-attributes{
  display: flex;
  flex-direction: column;
  align-self: center;
  font-size: 24px;
  font-family: Programme, sans-serif;
  width: 200px;
  margin-left: 30px;
  width: 411px;
  .attributes-container{
    display: flex;
  }
  .attributes-container-img{
    display: flex;
    // justify-content: space-between;
    padding-left: 65px;
    width: 185px;
    .views-trending{
      font-size: 12px;
      display: flex;
      align-items: center;
      width: 123px;
      p{
        color: rgb(252, 39, 100);
      }
    }
    .views-all-time{
      font-size: 12px;
      display: flex;
      align-items: center;
    }
    p{
      margin-left: 5px;
    }
  }
  span{
    margin-left: 9px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 11px;
    color: #929090;
    transform: translate(0px, 9.5px);
  }
  img{
    zoom: 35%;
  }

}